


.custom-logo {
  height: 75px;
}


.hover-imgage{
    height: 200px;
    width: 200px;
    
    right: 10px;
    top: 40px;
    border-radius: 20px;
    position:absolute;
    
}


/* VIDEO BANNER  */

.filler-padding {
  margin-top: 70px;
}

.video-section-bg {
  background-color: #ffffff;
}

.hero-text-card {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}

.hero-text-card h1 {
  text-transform: uppercase;
}

.video-card video {
  height: 100%;
  border-radius: 50px;
  max-width: 100%;
}

.video-button-container {
  position: absolute;
  padding: 15px 15px 15px 15px;
  bottom: 10%;
  left: 30%;
  height: 100px;
  width: 100px;
  border: 5px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.573);
  color: rgb(255, 255, 255);
  border-radius: 100%;
}

.video-button-container img {
  height: 100%;
}
