.custom-logo {
  height: 75px;
}

.hover-imgage {
  height: 200px;
  width: 200px;

  right: 10px;
  top: 40px;
  border-radius: 20px;
  position: absolute;
}

/* VIDEO BANNER  */

.filler-padding {
  margin-top: 70px;
}

.video-section-bg {
  background-color: #ffffff;
}

.hero-text-card {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}

.hero-text-card h1 {
  text-transform: uppercase;
}

.video-card video {
  height: 100%;
  border-radius: 50px;
  max-width: 100%;
}

.video-control-container {
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 14px;
  bottom: 0px;
  left: 0;
  width: 100%;
}

.play-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(161, 129, 0, 0.756);
  color: rgb(255, 255, 255);
  border-radius: 100%;
}

.play-button-container img {
  height: 30px;
  width: auto;
}

.seek-bar-container {
  width: 100%;
}

#seekBar {
  width: 100%;
  height: 30px;
  border-radius: 0px 0px 50px 50px;
  background-color: #ff0000;
}

/* Style for the track (progress bar) of the seek bar */
#seekBar::-webkit-slider-runnable-track {
  /* background-color: #ff0000;  */
  height: 20px;
}

input[type="range" i] {
  overflow: hidden;
}

/*  */

input:focus-visible {
}

input[type="range" i] {
  color: rgb(255, 136, 0);
}

input[type="range" i] {
  color: rgb(157, 150, 142);
}

input[type="range" i] {
  appearance: auto;
  cursor: default;
  color: -internal-light-dark(rgb(186, 0, 0), rgb(141, 28, 28));
  padding: initial;
  border: initial;
  margin: 2px;
}
