header {
    background-color: rgb(238, 238, 238);
    color: rgb(17, 17, 17);
}
.custom-navbar {
    position: relative;
    top:0;
    left : 0;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.nav-links {
    width: 100%;
}

.nav-links ul {
  display: flex;
  justify-content: space-around;
}

.nav-links .nav-card {
  display: none;
}

.nav-links li:hover .nav-card {
  display: flex;
}

.nav-card {
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    top: 100px;
    left: 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
}

.nav-card li ul {
  display: block;
}
