/*=========================================
            04. HEADER CSS
============================================*/
.affix {
    background-color: #ceae58;
    -webkit-transition: padding 0.4s ease-out;
    -moz-transition: padding 0.4s ease-out;
    -o-transition: padding 0.4s ease-out;
    transition: padding 0.4s ease-out;
  }
  
  /*header topbar*/
  .topbar-text ul li {
    font-size: 13px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }
  .topbar-text ul li:not(:last-child) {
    margin-right: 20px;
  }
  .topbar-text ul li strong {
    font-size: 14px;
    vertical-align: middle;
  }
  .topbar-text ul li a {
    display: inline-flex;
    align-items: center;
    color: inherit;
  }
  
  .topbar-text ul li a:hover {
    color: #094571;
  }
  
  .gradient-bg .topbar-text ul li,
  .gradient-bg .topbar-text ul li a {
    color: #ffffff;
    opacity: 0.8;
  }
  
  .gradient-bg .topbar-text ul li a:hover {
    opacity: 1;
  }
  
  .topbar-text ul li span {
    vertical-align: middle;
  }
  .custom-nav ul li a,
  .custom-nav-2.affix ul li a {
    color: #ffffff;
  }
  .custom-nav.affix ul li a {
    color: #353535;
  }
  
  .white-bg.affix,
  .custom-nav.affix,
  .custom-nav-3.affix {
    background: #ffffff !important;
    border-bottom: 1px solid #ebebeb;
  }
  
  .fixed-top {
    top: auto;
  }
  .fixed-top.affix {
    top: 0;
  }
  .white-bg.custom-nav ul li a:hover {
    opacity: 1;
  }
  .bg-transparent ul li a {
    color: #ffffff;
    opacity: 0.7;
  }
  .bg-transparent ul li a:hover,
  .white-bg.affix ul li a:hover {
    opacity: 1;
  }
  
  .bg-transparent.affix {
    background: linear-gradient(75deg, #ceae58 10%, #094571) !important;
  }
  
  .navbar-toggler {
    color: #ffffff;
  }
  /*main menu new style*/
  .header nav.navbar {
    padding: 0.3rem 1rem;
    transition: all 0.3s ease-in-out;
  }
  .header nav.navbar.affix {
    padding: 0 1rem;
  }
  .navbar-brand {
    font-size: inherit;
    height: auto;
    margin-bottom: -8px;
  }
  
  .menu {
    display: block;
  }
  
  .menu li {
    display: inline-block;
    /* position: relative; */
  }
  
  .menu li:first-child {
    margin-left: 0;
  }
  
  .menu li a {
    font-size: 13px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    padding: 20px 12px;
    display: block;
    transition: all 0.3s ease-in-out 0s;
    color: #353535;
    opacity: 0.8;
  }
  .white-bg > .menu li a {
    color: #081d43 !important;
  }
  .menu li a:hover,
  .menu li:hover > a {
    opacity: 1;
  }
  
  .menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 70%;
    height: 350px;
    border-radius: 100px;
    position: absolute;
    left:20%;
    background: #fff;
    z-index: 9;
    border-radius: 40px;
    transform: translate(0, 20px);
    transition: all 0.3s ease-out;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  .menu ul:after {
    bottom: 100%;
    left: 35px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border: solid transparent;
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -8px;
  }
  .menu li a.dropdown-toggle::after {
    position: absolute;
    left: 2px;
    vertical-align: middle;
  }
  .sub-menu li a.dropdown-toggle-inner::after {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    margin-left: auto;
    position: absolute;
    right: 15px;
    font-size: 12px;
  }
  
  .menu ul li {
    display: inline-block;
    float: none;
    background: none;
    margin: 8px;
    padding: 8px;
  }
  
  .menu ul li a {
    text-transform: inherit;
    font-weight: normal;
    display: block;
    color: #424141;
    padding: 8px 15px;
    font-family: "Montserrat", sans-serif;
  }
  .menu ul li a:hover,
  .menu ul li:hover > a {
    color: #ffffff;
    background: #ceae58;
  }
  
  .menu ul.sub-menu li:first-child a:hover,
  .menu ul.sub-menu li:last-child ul li:first-child a:hover {
    border-radius: 4px 4px 0 0;
  }
  .menu ul.sub-menu li:last-child a:hover,
  .menu ul.sub-menu li:last-child ul li:last-child a:hover {
    border-radius: 0 0 4px 4px;
  }
  .menu ul.sub-menu li:last-child ul li a:hover {
    border-radius: 0;
  }
  
  .menu li:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
  
  .menu ul ul {
    left: 200px;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transform: translate(20px, 20px);
    transition: all 0.2s ease-out;
  }
  
  .menu ul.sub-menu ul:after {
    left: -8px;
    top: 10px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border: solid transparent;
    border-right-color: #fff;
    border-width: 8px;
  }
  
  .menu li > ul ul:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
  .responsive-menu {
    display: none;
    width: 100%;
    padding: 20px 15px;
    background: #374147;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .responsive-menu:hover {
    background: #374147;
    color: #fff;
    text-decoration: none;
  }
  
  @media (min-width: 320px) and (max-width: 992px) {
    .navbar {
      background: linear-gradient(75deg, #ceae58 10%, #094571) !important;
      padding: 0.45rem 1rem !important;
    }
    .menu li {
      display: block;
    }
  
    .white-bg.affix,
    .custom-nav.affix,
    .navbar.white-bg {
      background: #ffffff !important;
      border-bottom: 1px solid #ebebeb;
    }
  
    .white-bg.custom-nav ul li a,
    .custom-nav ul li a {
      color: #081d43 !important;
    }
  
    .white-bg.navbar .navbar-toggler span {
      color: #ceae58;
    }
  
    .ptb-100 {
      padding: 55px 0;
    }
  
    .pt-100 {
      padding-top: 55px;
    }
  
    .pb-100 {
      padding-bottom: 55px;
    }
    .pt-165 {
      padding-top: 100px;
    }
    .mt--165 {
      margin-top: 0 !important;
    }
    .hero-equal-height {
      min-height: auto !important;
    }
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .mainWrap {
      width: 768px;
    }
  
    .menu ul {
      top: 37px;
    }
  
    .menu li a {
      padding: 8px 15px;
    }
  
    a.homer {
      background: #374147;
    }
  }
  
  @media (max-width: 767px) {
    .responsive-menu {
      display: block;
    }
    .header nav.navbar {
      padding: 0.5rem 1rem;
    }
    .mainWrap {
      width: auto;
      padding: 50px 20px;
    }
  
    nav {
      margin: 0;
      background: none;
    }
  
    .menu li {
      display: block;
      margin: 0;
    }
  
    .menu li a {
      padding: 8px 15px;
    }
  
    .menu li a:hover,
    .menu li:hover > a {
      background: #ceae58;
      color: #fff;
    }
  
    .menu ul {
      visibility: hidden;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      transform: initial;
    }
  
    .menu li:hover > ul {
      visibility: visible;
      opacity: 1;
      position: relative;
      transform: initial;
    }
  
    .menu ul ul {
      left: 0;
      transform: initial;
    }
  
    .menu li > ul ul:hover {
      transform: initial;
    }
  }
  